*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* the nav section */
.navBar{
    width: 100%;
    height: 85px;
    padding: 16px;
    background: rgb(245, 243, 243);
}
.navBar h2{
    color: rgb(18, 223, 189);
    font-size: 23px;
}
.navContainer ul{
    display: flex;
    justify-content:space-around;
    width: 75%;
    margin-left: 13%;
    height: 60px;
}
.navContainer ul li,.navContainer a{
    list-style: none;
    margin-top: 12px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(10, 10, 10);
}
.navContainer a:hover{
    cursor: pointer;
    color: red;
}
/* the home section */
.homeHolder{
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
    display: flex;
    justify-content:space-around;
    background: rgb(245, 243, 243);
    padding-bottom: 50px;
}
#homeContent h1{
    font-size: 37px;
    line-height: 45px;
    padding-bottom: 25px;
}
#homeContent p{
    line-height: 26px;
    font-size: 16px;
    padding-bottom: 30px;
}
button{
    height:40px;
    width: 166px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
}
#CTA{
    margin-right: 15px;
    background:rgb(12, 228, 192);
}
#cta2{
    background: black;
    color: white;
}
#cta2:hover,#CTA:hover{
    background: rgb(243, 4, 4);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.homeImage img{
    border-radius: 90px;
    margin-top: -40px;
    margin-left: -20px;
}
/* services section */
#services{
    width: 100%;
    height: auto;
    background:rgb(226, 226, 226);
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 80px;
}
#services h2{
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}
#services p{
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}
.servicesHolder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#internet,#cctv,#web,#electrial,#solar,#gadgets,#telecommunication{
    width:300px;
    height: auto;
    padding: 15px;
    border: 2px solid rgb(12, 12, 12);
    margin: 30px;
    border-radius: 10px;
    background: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(61, 61, 61);
}
#internet:hover,#cctv:hover,#web:hover,#electrial:hover,#solar:hover,#gadgets:hover,#telecommunication:hover{
    color: rgb(243, 241, 241);
    background: rgb(12, 12, 12);
}
#internet h3,#cctv h3,#web h3,#electrial h3,#solar h3,#gadgets h3,#telecommunication h3{
    padding: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

#internet p,#cctv p,#web p,#electrial p,#solar p,#gadgets p,#telecommunication p{
    line-height: 25px;
}
#internet a,#cctv a,#web a,#electrial a,#solar a,#gadgets a,#telecommunication a{
    text-decoration: none;
    color: rgb(6, 199, 6);
    text-align: center;
}
#internet a:hover,#cctv a:hover,#web a:hover,#electrial a:hover,#solar a:hover,#gadgets a:hover,#telecommunication a:hover{
    cursor: pointer;
    color: rgb(250, 7, 7);
}
#internet img,#cctv img,#web img,#electrial img,#solar img,#gadgets img,#telecommunication img{
    width: 100px;
    border-radius:100px;
    margin-left: 80px;
    padding: 10px;
}
/* the about section */
#aboutHolder{
    display: flex;
    padding: 20px;
    padding-top: 100px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgb(236, 236, 236);
    padding-bottom: 100px;
}
#aboutContent{
    height: auto;
    width: 500px;
    padding: 20px;
}
#aboutContent h2{
    line-height: 20px;
    text-align: center;
    padding-bottom: 40px;
}
#aboutContent p{
    line-height: 30px;
    padding-bottom: 50px;
}
#aboutImages img{
    width: 410px;
    border-radius:10px;
    margin-right: 110px;
    margin-top: 50px;
    border: 2px solid rgb(12, 12, 12);
}
/* statistics section */
.statistics{
    width: 100%;
    height:auto;
    display: flex;
    justify-content:space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    background:rgb(20, 180, 154);

}
.statistics h3{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.statistics img{
    width: 60px;
    border-radius:100px;
    margin-left: 33px;
}
#years img{
    margin-left: 43px;
}
/* the pricing section */
.prices{
    padding: 30px;
    padding-top: 100px;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background: rgb(243, 243, 243);
}
#PricesHeading{
    line-height: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.priceHolder{
    display: flex;
    justify-content: space-around;
}
.priceHolder span{
    font-size: 39px;
}
.priceHolder h2{
    padding-bottom: 15px;
    text-align: center;
}
.priceHolder h3{
    text-align: center;
    color: rgb(18, 172, 18);
    padding-bottom: 20px;
}
.priceHolder ul{
    list-style: none;
    padding-bottom: 20px;
}
.priceHolder ul li{
    line-height: 28px;
}
.priceHolder button{
    border-radius: 13px;
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 20px;
}
.priceHolder button:hover{
    background: rgb(240, 4, 4);
}
#basic,#business,#premium{
    border: 2px solid rgb(15, 15, 15);
    padding: 23px;
    border-radius: 10px;
    background: rgb(219, 216, 216);
    box-shadow: 0 0 15px rgb(15, 15, 15);
}
#basic:hover,#business:hover,#premium:hover{
    background:rgb(24, 19, 19);
    /* background: white; */
    color: rgb(255, 255, 255);
}
/* projects section */
#projects2{
    background: rgb(252, 250, 250);
    height: auto;
    width: 100%;
    padding: 40px;
    padding-top: 100px;

}
#projects2 h2,#pIntro{
    line-height: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.projectsHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#first,#second,#third,#fourth{
width: 400px;
margin: 20px;
}
#first img,#second img,#third img,#fourth img{
    width: 300px;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 15px;
}
#first h3,#second h3,#third h3,#fourth h3{
    padding: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 10px;
}
#first p,#second p,#third p,#fourth p{
    padding: 20px;
    padding-top: 5px;
    line-height: 25px;
}
#first a,#second a,#third a,#fourth a{
    text-decoration: none;
    color: rgb(11, 139, 11);
}
#first a:hover,#second a:hover,#third a:hover,#fourth a:hover{
    color: rgb(243, 16, 16);
}