*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background: rgb(252, 250, 250);
}
/* the nav section */
.navBar{
    width: 100%;
    height: 85px;
    padding: 16px;
    background: rgb(245, 243, 243);
}
.navBar h2{
    color: rgb(18, 223, 189);
    font-size: 23px;
}
.navBar img{
    width: 30px;
    margin-left: 120px;
    opacity: 0;
    border-radius: 3px;

}
.navContainer ul{
    display: flex;
    justify-content:space-around;
    width: 75%;
    margin-left: 13%;
    height: 60px;
}
.navContainer ul li,.navContainer a{
    list-style: none;
    margin-top: 12px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(10, 10, 10);
}
.navContainer a:hover{
    cursor: pointer;
    color: red;
}
/* the home section */
.homeHolder{
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
    display: flex;
    justify-content:space-around;
    background: rgb(245, 243, 243);
    padding-bottom: 50px;
}
#homeContent h1{
    font-size: 37px;
    line-height: 45px;
    padding-bottom: 25px;
}
#homeContent p{
    line-height: 26px;
    font-size: 16px;
    padding-bottom: 30px;
}
button{
    height:40px;
    width: 166px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
}
#btnHolder{
    display: flex;
}
#CTA{
    margin-right: 15px;
    background:rgb(12, 228, 192);
}
#CTA a{
    color: rgb(0,0, 0);
    font-size: 14px;
    text-decoration: none;
}
#cta2{
    background: rgb(0, 0, 0);
}
#cta2 a{
    text-decoration: none;
    font: 14px;
    color: rgb(255, 255, 255);
}
#cta2:hover,#CTA:hover{
    background: rgb(243, 4, 4);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.homeImage img{
    border-radius: 90px;
    margin-top: -40px;
    margin-left: -20px;
}
/* services section */
#services{
    width: 100%;
    height: auto;
    background:rgb(226, 226, 226);
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 80px;
}
#services h2{
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}
#services p{
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}
.servicesHolder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#internet,#cctv,#web,#electrial,#solar,#gadgets,#telecommunication{
    width:300px;
    height: auto;
    padding: 15px;
    border: 2px solid rgb(12, 12, 12);
    margin: 30px;
    border-radius: 10px;
    background: rgb(230, 230, 230);
    box-shadow: 0 0 15px rgb(61, 61, 61);
}
#internet:hover,#cctv:hover,#web:hover,#electrial:hover,#solar:hover,#gadgets:hover,#telecommunication:hover{
    color: rgb(243, 241, 241);
    background: rgb(12, 12, 12);
}
#internet h3,#cctv h3,#web h3,#electrial h3,#solar h3,#gadgets h3,#telecommunication h3{
    padding: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

#internet p,#cctv p,#web p,#electrial p,#solar p,#gadgets p,#telecommunication p{
    line-height: 25px;
}
#internet a,#cctv a,#web a,#electrial a,#solar a,#gadgets a,#telecommunication a{
    text-decoration: none;
    color: rgb(6, 199, 6);
    text-align: center;
}
#internet a:hover,#cctv a:hover,#web a:hover,#electrial a:hover,#solar a:hover,#gadgets a:hover,#telecommunication a:hover{
    cursor: pointer;
    color: rgb(250, 7, 7);
}
#internet img,#cctv img,#web img,#electrial img,#solar img,#gadgets img,#telecommunication img{
    width: 100px;
    border-radius:100px;
    margin-left: 80px;
    padding: 10px;
    object-fit:cover;
}
/* the about section */
#aboutHolder{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgb(236, 236, 236);
    padding-bottom: 100px;
    padding: 100px;
}
#aboutContent{
    height: auto;
    width: 500px;
    padding: 20px;
}
#aboutContent h2{
    line-height: 20px;
    text-align: center;
    padding-bottom: 40px;
}
#aboutContent p{
    line-height: 30px;
    padding-bottom: 50px;
}
#aboutImages img{
    width: 410px;
    border-radius:10px;
    margin-right: 110px;
    margin-top: 50px;
    border: 2px solid rgb(12, 12, 12);
}
/* statistics section */
.statistics{
    width: 100%;
    height:auto;
    display: flex;
    justify-content:space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    background:rgb(20, 180, 154);

}
.statistics h3{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.statistics img{
    width: 60px;
    border-radius:100px;
    margin-left: 33px;
}
#years img{
    margin-left: 43px;
}
/* the pricing section */
.prices{
    padding: 30px;
    padding-top: 100px;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background: rgb(243, 243, 243);
}
#PricesHeading{
    line-height: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.priceHolder{
    display: flex;
    justify-content: space-around;
}
.priceHolder span{
    font-size: 39px;
}
.priceHolder h2{
    padding-bottom: 15px;
    text-align: center;
}
.priceHolder h3{
    text-align: center;
    color: rgb(18, 172, 18);
    padding-bottom: 20px;
}
.priceHolder ul{
    list-style: none;
    padding-bottom: 20px;
}
.priceHolder ul li{
    line-height: 28px;
}
.priceHolder button{
    border-radius: 13px;
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 20px;
}
.priceHolder button:hover{
    background: rgb(240, 4, 4);
}
#basic,#business,#premium{
    border: 2px solid rgb(15, 15, 15);
    padding: 23px;
    border-radius: 10px;
    background: rgb(219, 216, 216);
    box-shadow: 0 0 15px rgb(15, 15, 15);
}
#basic:hover,#business:hover,#premium:hover{
    background:rgb(24, 19, 19);
    /* background: white; */
    color: rgb(255, 255, 255);
}
/* projects section */
#projects2{
    background: rgb(252, 250, 250);
    height: auto;
    width: 100%;
    padding: 40px;
    padding-top: 100px;

}
#projects2 h2,#pIntro{
    line-height: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.projectsHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#first,#second,#third,#fourth{
width: 400px;
margin: 20px;
}
#first img,#second img,#third img,#fourth img{
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 15px;
}
#first h3,#second h3,#third h3,#fourth h3{
    padding: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 10px;
}
#first p,#second p,#third p,#fourth p{
    padding: 20px;
    padding-top: 5px;
    line-height: 25px;
}
#first a,#second a,#third a,#fourth a{
    text-decoration: none;
    color: rgb(11, 139, 11);
}
#first a:hover,#second a:hover,#third a:hover,#fourth a:hover{
    color: rgb(243, 16, 16);
}
/* testimonial section */
#testimonialHolder{
    padding: 40px;
    padding-top: 100px;
    background: rgb(224, 224, 224);
    width: 100%;
}
#testimonialHolder h2,#testimonialHolder p{
    padding-bottom: 20px;
    line-height: 20px;
    text-align: center;
    padding-left: 40px;
}
#testimonial{
    background: rgb(255, 255, 255);
    width: 550px;
    padding: 20px;
    margin: 0 auto;
    height: 240px;
    border-radius: 10px;
}
#testimonial h4{
    color: rgb(36, 173, 36);
}
#testimonial span{
    color:rgb(223, 21, 21);
}
#testimonial p{
    font-size: 17px;
    padding-top: 20px;
}
#image{
    background:green;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
#Tbtns{
    width: 100%;
    margin-left: 170px;
}
#testimonial button{
    border-radius:3px;
    width: 50px;
    height:35px;
    background:rgb(10, 10, 10);
    font-size: 20px; 
    color:rgb(250, 245, 245);
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
#testimonial button:hover{
    color: rgb(250, 9, 9);
}
/* team section */
#teamHolder{
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#teamHolder h2,#p1{
    line-height: 25px;
    text-align: center;
    padding-bottom: 16px;
}
.team{
    display: flex;
    justify-content:space-between;
}
#ceo,#technical1,#technical2{
    margin-top: 20px;
    width: 360px;
    height:auto;
    background: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(12, 12, 12);
}
#ceo h4,#ceo p,#technical1 h4,#technical1 p,#technical2 h4,#technical2 p{
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 10px;
}
#ceo p,#technical1 p,#technical2 p{
    font-size: 16px;
}
#ceo img,#technical1 img,#technical2 img{
    width: 400px;
    height: 500px;
    object-fit:contain;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50%;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
#img1 img,#img2 img,#img3 img,#img4 img{
    width: 30px;
    height: auto;
}
/* contacts section */
#contactsHolder{
    background:rgb(252, 251, 251) ;
    width: 100%;
    height: auto;
    padding:50px;
}
#contacts{
    padding-top: 100px;
    display: flex;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
}
#ContactImg img{
border-radius: 20px;
margin-right: 50px;
width: 500px;
height: 600px;
object-fit:contain;
}
#contanctForm{
margin-top: 20px;
font-size: 18px;
width: 500px;
padding: 20px;
}
#contanctForm p{
    line-height: 28px;
    text-align: center;
}
#contanctForm h4{
    padding-left: 20px;
    color: rgb(18, 211, 18);
    padding:10px;
}
#contanctForm form{
    padding-left: 20px;
}
form input{
    width: 90%;
    padding: 11px;
    margin-bottom: 20px;
}
#text{
    max-width: auto;
    height: 100px;
    padding: 11;
}
#contanctForm button{
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    font-size: 16px;
    background:rgb(18, 211, 18);
    cursor: pointer;
}
#contanctForm button:hover{
    background: rgb(247, 6, 6);


}
/* footer section */
#footerHolder{
    width: 100%;
    height: auto;
    background: rgb(10, 10, 10);
    color: rgb(252, 249, 249);
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.footerContent{
display: flex;
justify-content: space-between;
}
#info{
    width: 590px;
}
#info h4{
    font-size: 20px;
    padding-bottom: 13px;
    color: rgb(19, 233, 19);
    font-weight: bold;
}
#info p{
    line-height: 25px;
}
#links ul{
list-style: none;
}
#links ul li a{
    text-decoration: none;
    line-height: 24px;
    color:rgb(58, 201, 29);
}
#links ul li a:hover{
    color: rgb(233, 15, 15);
}
#links span{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(233, 15, 15);
}
#subscribe h4{
    font-size: 19px;
    padding-bottom: 15px;

}
#subscribe input{
    padding: 10px;
    width: 330px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    border: none;
}
.subscribeInput{
    display: flex;
}
.subscribeInput button{
    padding: 9px;
    border-radius: 20px;
    background: rgb(240, 4, 4);
    border: none;
    margin-left:-60px;
    height: 35px;
    width: 100px;
    color: rgb(3, 3, 3);
    font-size: 15px;
}
.goldenIcons{
    display: flex;
}
#Gimg1 img,#Gimg2 img,#Gimg3 img,#Gimg4 img{
    width: 30px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.reveal{
    position:relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2000ms ease;
}
.reveal.active{
    transform: translateX(0px);
    opacity: 1;

}
/* media queries */
@media(max-width:600px){
    /* nav section */
    .navBar{
        background: rgb(10, 10, 10);
        width: 100%;
    }
    .navBar h2{
        font-size: 18px;
    }
    .navContainer{
        height:200px;
        background: rgb(10, 10, 10);
        opacity: 0;
    }
    .navContainer ul{
        display: inline-block;

    }
    .navContainer ul li a{
        color: rgb(255, 255, 255);
        background: rgb(10, 10, 10);
        padding-bottom: 10px;
    }
    /* home section */
    .homeHolder{
        margin-top:0px;
        padding-top: 30px;
        max-width:100%;
    }
    .homeImage{
        opacity: 0;
        margin-left: -300px;
    }
    .homeImage img{
        width:230px;
        margin-top: 70px;
        margin-left:0px;
        opacity:0.6;
    }
    .navBar img{
        opacity: 1;
    }
   #homeHolder{
    display:flex;
    max-width: 100%;
   }
    #homeContent h1{
        font-size: 30px;
        line-height: 35px;
        max-width: 100%;
        margin-left: -30px;
        font-weight: bold;
    }
     #homeContent p{
        font-size: 16px;
        line-height: 20px;
        padding-right: 10px;
        padding-top: 10px;
        height:auto;
        position:absolute;
        font-weight: 549;
        margin-left: -30px;
}
#btnHolder{
    display: flex;
}
#homeContent button{
    margin-top: 200px;
    width: 120px;
}
}